body {
  padding-top: 50px;
  padding-left: 100px;
  background-color: #d3d3d3;
}

#chartArea {
  width: 600px;
  height: 300px;
  background-color: #EFE;
}

.scatter {
  display: inline-block;
  fill:tomato;
  fill-opacity: 0.5;
  stroke:black;
  stroke-weight:1px;
}
